/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
/*--- CSS RESET --- is just googling it the way to go? Because that's what I did.*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --h1-size: 3em;
    --h2-size: 2em;
    --text-size: 1.25em;

    --blue: #007d7b;
	--black: #000000;
	--white: #ffffff;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html{
    font-family:Arial, Helvetica, sans-serif;
}

header {
    width: 80%;
    margin:0 auto;
    background-color: var(--white);
    padding:5px 20px;
}


header h1 {
	color: var(--blue);
	font-size: var(--h1-size);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

body {
	background-color: var(--black);
}


nav {
    background-color:#000000;
    padding:5px;
    top:0px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

nav a {
	color: var(--white);
    font-size:var(--h2-size);
	text-decoration: none;
	text-align: center;
	font-weight: bold;
    font-size: 1.5em;
}

#top-button a{
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-decoration: none;
	color: var(--white);
	padding: 20px 15px;
	border: 2px solid var(--white); 
	border-radius: 5px;
	cursor: pointer;
	z-index: 1;
}

main {
    background-color: var(--white);
	padding: 20px;
    width: 80%;
    margin:0 auto;
}

p {
    font-size: var(--text-size);
}

main h2 {
	font-family: var(--header-font);
	font-size: var(--h2-size);
	line-height: 2;
    font-weight: bold;
    text-align: center;
}

main h3 {
	font-family: var(--header-font);
	font-size: var(--h3-size);
	margin-top: 10px;
	text-align: center;
	padding: 10px;
}

main ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul img {
	width: 100%;
}

section li {
	display: block;
	margin: 20px;
}

figure {
	position: relative;
	width: 100%; 
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

figcaption {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 0);
	color: var(--white);
	text-align: center;
	padding: 10px;
	font-size: var(--text-size);
	font-family: var(--body-font);
	width: 45%;
}

footer {
	padding: 20px;
	text-align: center;
	color: var(--white);
	line-height: 1.5;
    width: 100%;
}

footer h2 {
	font-family: var(--header-font);
	font-size: var(--h2-size);
	line-height: 2;
    font-weight: bold;
}

.contact {
    width: 100%;
}

#form {
    width: 80%;
    margin: 0 auto;
    padding: 40px 50px 60px 50px;

  }
  
  #form * {
      box-sizing: border-box;
  }
  
  #form input {
    margin-bottom: 15px;
    width: 100%;

  }
  
  #form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: var(--white);
    font-size: 1em;
  }

  #form input::placeholder { 
    color: var(--blue);
    font-weight: bold;
  }
  
  #form label {
    color: var(--white);
    font-size: 1em;
    display: flex;
  }

  #form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 250px;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.25em;
  }
.copyright {
	background-color: var(--black);
	margin: 15px;
	text-align: center;
    font-size: 1em;
}


/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 880px) {

    header {
        display: flex;
        flex: space-between;
        align-items: center;
    }
   
    nav ul {
        display: flex;
        flex-direction: row;
    }
   
    main ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

} 

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1300px) {


	header {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	nav {
			flex: 1;
			display: flex;
			flex-direction: row;
			justify-content: right;
            padding-right: 120px;
	}

	nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
	}

	main ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr); 
	}

}